{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />


<style>
    #map {
        width: 100%;
        height: 500px;
        border-radius: 10px;
    }
</style>

<!-- Header -->

<!-- User Form Modal -->
    <div class="modal-fade" role="dialog" tabindex="-1" id="user-form-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                <div class="py-1">
                    <div style="font-size: 18px">
                        Please Mark the borders of your farm:
                        <br>
                        <br>
                    </div>

                    <form class="form"  method="POST" action="">
                        {% csrf_token %}
                        <input class="form-control" type="hidden" name="operation" id="operation" required>
                        <input class="form-control" type="hidden" name="id" id="sensor-form-id" >
                        <div class="row">
                            <div class="col">
                                {#Long and lat and map#}
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Farm Borders</label>
                                            <input class="form-control" type="text" name="wktStringTextArea" id="wktStringTextArea"required >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="form-group">
                                            <div class="wrap">
                                                <div id="map"></div>
                                                <button type="button" class="btn btn-primary" onclick="clearMap()">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {#Long and lat and map#}
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>

                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">login</a>
                    {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card stats -->

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>

<script>

{#var MymapOptions = {#}
{#    center:[31.2 , 36.2384],#}
{#    zoom:7#}
{##}
{##}
{#var map = new L.map('map' , MymapOptions);#}
{##}
{#var Mylayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');#}
{#map.addLayer(Mylayer);#}
{##}
{#var marker = null;#}
{#map.on('click', (event)=> {#}
{##}
{#        if (marker !== null) {#}
{#            map.removeLayer(marker);#}
{#        }#}
{##}
{#        marker = L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);#}
{##}
{#        document.getElementById('latitude').value = event.latlng.lat;#}
{#        document.getElementById('longitude').value = event.latlng.lng;#}
{##}
{#    })#}


    var raster;
    var source;
    var vector;
    var map;
    var typeSelect;
    var draw;
    var features = new ol.Collection();
    var format = new ol.format.WKT();
    var current_shape = "point";

    var fill = new ol.style.Fill({
      color: 'rgba(210, 122, 167,0.2)'
    });
    var stroke = new ol.style.Stroke({
      color: '#B40404',
      width: 2
    });

    var styles = [
      new ol.style.Style({
        image: new ol.style.Circle({
          fill: fill,
          stroke: stroke,
          radius: 5
        }),
        fill: fill,
        stroke: stroke
      })
    ];

    function addInteraction(shape) {
      draw = new ol.interaction.Draw({
        features: features,
        type: /** @type {ol.geom.GeometryType} */ shape
      });
      map.addInteraction(draw);
    }

    /**
    * Let user change the geometry type.
    * @param {Event} e Change event.
    */
    function createVector() {
      vector = new ol.layer.Vector({
        source: new ol.source.Vector({ features: features }),
        style: styles
      });
    }

    function toEPSG4326(element, index, array) {
      element = element.getGeometry().transform('EPSG:3857', 'EPSG:4326');
    }

    function toEPSG3857(element, index, array) {
      element = element.getGeometry().transform('EPSG:4326', 'EPSG:3857');
    }

    function selectGeom(shape) {
      current_shape = shape;
      map.removeInteraction(draw);
      addInteraction(shape);
    }

    function init() {
      // document.getElementById("missing_wkt").style.display = "block";
      createVector();
      raster = new ol.layer.Tile({
        source: new ol.source.OSM()
      });

      features.on("add", function (e) {
        restoreDefaultColors();
        features.forEach(toEPSG4326);
        document.getElementById('wktStringTextArea').value = format.writeFeatures(features.getArray(), { rightHanded: true });
        features.forEach(toEPSG3857);
      });

      map = new ol.Map({
        layers: [raster, vector],
        target: 'map',
        view: new ol.View({
          center: [
              41000{{ user.farm.latitude }},
              37000{{ user.farm.longitude }},
          ],
          zoom: 8
        })
      });
      if (window.location && window.location.hash) {
        loadWKTfromURIFragment(window.location.hash);
      }
      plotWKT();
      selectGeom('Polygon');
    }

    function restoreDefaultColors() {
      document.getElementById("wktStringTextArea").style.borderColor = "";
      document.getElementById("wktStringTextArea").style.backgroundColor = "";
    };

    // Plot wkt string on map
    function plotWKT() {
        var new_feature;

        wkt_string = document.getElementById("wktStringTextArea").value;
        if (wkt_string == "") {
            document.getElementById("wktStringTextArea").style.borderColor = "red";
            document.getElementById("wktStringTextArea").style.backgroundColor = "#F7E8F3";
            return;
        } else {
            try {
                new_feature = format.readFeature(wkt_string);
            } catch (err) { }
        }

      if (!new_feature) {
        document.getElementById("wktStringTextArea").style.borderColor = "red";
        document.getElementById("wktStringTextArea").style.backgroundColor = "#F7E8F3";
        return;
      } else {
        map.removeLayer(vector);
        features.clear();
        new_feature.getGeometry().transform('EPSG:4326', 'EPSG:3857');
        features.push(new_feature);
      }
      vector = new ol.layer.Vector({
        source: new ol.source.Vector({ features: features }),
        style: styles
      });

      selectGeom(current_shape);
      map.addLayer(vector);
      derived_feature = features.getArray()[0];
      extent = derived_feature.getGeometry().getExtent();
      minx = derived_feature.getGeometry().getExtent()[0];
      miny = derived_feature.getGeometry().getExtent()[1];
      maxx = derived_feature.getGeometry().getExtent()[2];
      maxy = derived_feature.getGeometry().getExtent()[3];
      centerx = (minx + maxx) / 2;
      centery = (miny + maxy) / 2;
      map.setView(new ol.View({
        center: [centerx, centery],
        zoom: 8
      }));
      map.getView().fit(extent, map.getSize());
    }

    function clearMap() {
      map.removeLayer(vector);
      features.clear();
      vector = new ol.layer.Vector({
        source: new ol.source.Vector({ features: features }),
        style: styles
      });
      selectGeom(current_shape);
      map.addLayer(vector);
      document.getElementById("wktStringTextArea").value = "";
      restoreDefaultColors();
    }

    function loadWKTfromURIFragment(fragment) {
      // remove first character from fragment as it contains '#'
      var wkt = window.location.hash.slice(1);
      document.getElementById("wktStringTextArea").value = decodeURI(wkt);
    }
    init();
</script>
<script src="{% static "assets/vendor/clipboard/dist/clipboard.min.js" %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

{% endblock javascripts %}