

{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <!-- Header -->

    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">

              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">

              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body" >
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" style="color: red">temperature</h5>

                           {% for item in weather %}
        <span class="h2 font-weight-bold mb-0">
        {% for item in item.weather_station.all %}

            {{ item.temperature }}
            {% endfor %}

        </span>
    {% endfor %}





                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->

                <!-- Card body -->

                <!-- Card body -->


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                  <h5 class="h3 text-white mb-0">Humidity in soil </h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sensor-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sensor-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sensor-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h5 class="h3 mb-0">Total orders</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-bar" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Sensors</h3>
                </div>

              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Type</th>
                      <th class="sortable">category</th>
                    <th scope="col">Number Result</th>
                    <th scope="col">string result</th>
                      <th class="sortable">Location</th>

                  </tr>
                </thead>
                <tbody>
                 {% for item in sensors %}
                  <tr>

                    <th scope="row">
                        {{item.id}}
                    </th>
                    <td>
                        {{ item.type}}
                    </td>
                      <td>
                        {{ item.category}}
                    </td>
                    <td>
                     {% if not item.number_results.all.count %}   -   {% endif %}
                     {% for item in item.number_results.all %}
                          {{ item.number }}
                     {% endfor %}
                    </td>
                    <td>
                     {% if not item.STRINGRESULT.all.count %}   -   {% endif %}
                        {% for item in item.STRINGRESULT.all %}
                             {{ item.string_result }}
                        {% endfor %}
                    </td>
                     <td>
                       {{ item.location }}
                    </td>
                      {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0"> Trees </h3>
                </div>
                <div >

                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Type</th>
                    <th scope="col">state</th>
                    <th scope="col">time</th>
                      <th scope="col">WATER SHARE</th>
                      <th class="sortable">Location</th>
                  </tr>
                </thead>
                <tbody>
                 {% for item in trees %}
                  <tr>

                    <th scope="row">
                        {{item.id}}
                    </th>
                    <td>
                        {{ item.type}}
                    </td>
                     <td>
                     {{ item.time}}
                     </td>

                    <td>


                          {{ item.state }}

                    </td>
                    <td >
                     {% if not item.item.water_share.all %}   -   {% endif %}
                        {% for item in item.item.water_share.all %}
                             {{ item.number }}
                        {% endfor %}
                    </td>
                     <td>
                       {{ item.location }}
                    </td>
                      {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>

{#        <div class="col-xl-4">#}
{##}
{#          <div class="card">#}
{##}
{#            <div class="card-header border-0">#}
{#              <div class="row align-items-center">#}
{#                <div class="col">#}
{#                  <h3 class="mb-0">Social traffic</h3>#}
{#                </div>#}
{#                <div class="col text-right">#}
{#                  <a href="#!" class="btn btn-sm btn-primary">See all</a>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="table-responsive">#}
{#              <!-- Projects table -->#}
{#              <table class="table align-items-center table-flush">#}
{#                <thead class="thead-light">#}
{#                  <tr>#}
{#                    <th scope="col">Referral</th>#}
{#                    <th scope="col">Visitors</th>#}
{#                    <th scope="col"></th>#}
{#                  </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Facebook#}
{#                    </th>#}
{#                    <td>#}
{#                      1,480#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">60%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Facebook#}
{#                    </th>#}
{#                    <td>#}
{#                      5,480#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">70%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Google#}
{#                    </th>#}
{#                    <td>#}
{#                      4,807#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">80%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Instagram#}
{#                    </th>#}
{#                    <td>#}
{#                      3,678#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">75%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      twitter#}
{#                    </th>#}
{#                    <td>#}
{#                      2,645#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">30%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                </tbody>#}
{#              </table>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}



    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

    <script>
    var Charts = (function() {

	// Variable

	var $toggle = $('[data-toggle="chart"]');
	var mode = 'light';//(themeMode) ? themeMode : 'light';
	var fonts = {
		base: 'Open Sans'
	}

	// Colors
	var colors = {
		gray: {
			100: '#f6f9fc',
			200: '#e9ecef',
			300: '#dee2e6',
			400: '#ced4da',
			500: '#adb5bd',
			600: '#8898aa',
			700: '#525f7f',
			800: '#32325d',
			900: '#212529'
		},
		theme: {
			'default': '#172b4d',
			'primary': '#5e72e4',
			'secondary': '#f4f5f7',
			'info': '#11cdef',
			'success': '#2dce89',
			'danger': '#f5365c',
			'warning': '#fb6340'
		},
		black: '#12263F',
		white: '#FFFFFF',
		transparent: 'transparent',
	};


	// Methods

	// Chart.js global options
	function chartOptions() {

		// Options
		var options = {
			defaults: {
				global: {
					responsive: true,
					maintainAspectRatio: false,
					defaultColor: (mode == 'dark') ? colors.gray[700] : colors.gray[600],
					defaultFontColor: (mode == 'dark') ? colors.gray[700] : colors.gray[600],
					defaultFontFamily: fonts.base,
					defaultFontSize: 13,
					layout: {
						padding: 0
					},
					legend: {
						display: false,
						position: 'bottom',
						labels: {
							usePointStyle: true,
							padding: 16
						}
					},
					elements: {
						point: {
							radius: 0,
							backgroundColor: colors.theme['primary']
						},
						line: {
							tension: .4,
							borderWidth: 4,
							borderColor: colors.theme['primary'],
							backgroundColor: colors.transparent,
							borderCapStyle: 'rounded'
						},
						rectangle: {
							backgroundColor: colors.theme['warning']
						},
						arc: {
							backgroundColor: colors.theme['primary'],
							borderColor: (mode == 'dark') ? colors.gray[800] : colors.white,
							borderWidth: 4
						}
					},
					tooltips: {
						enabled: true,
						mode: 'index',
						intersect: false,
					}
				},
				doughnut: {
					cutoutPercentage: 83,
					legendCallback: function(chart) {
						var data = chart.data;
						var content = '';

						data.labels.forEach(function(label, index) {
							var bgColor = data.datasets[0].backgroundColor[index];

							content += '<span class="chart-legend-item">';
							content += '<i class="chart-legend-indicator" style="background-color: ' + bgColor + '"></i>';
							content += label;
							content += '</span>';
						});

						return content;
					}
				}
			}
		}

		// yAxes
		Chart.scaleService.updateScaleDefaults('linear', {
			gridLines: {
				borderDash: [2],
				borderDashOffset: [2],
				color: (mode == 'dark') ? colors.gray[900] : colors.gray[300],
				drawBorder: false,
				drawTicks: false,
				drawOnChartArea: true,
				zeroLineWidth: 0,
				zeroLineColor: 'rgba(0,0,0,0)',
				zeroLineBorderDash: [2],
				zeroLineBorderDashOffset: [2]
			},
			ticks: {
				beginAtZero: true,
				padding: 10,
				callback: function(value) {
					if (!(value % 10)) {
						return value
					}
				}
			}
		});

		// xAxes
		Chart.scaleService.updateScaleDefaults('category', {
			gridLines: {
				drawBorder: false,
				drawOnChartArea: false,
				drawTicks: false
			},
			ticks: {
				padding: 20
			},
			maxBarThickness: 10
		});

		return options;

	}

	// Parse global options
	function parseOptions(parent, options) {
		for (var item in options) {
			if (typeof options[item] !== 'object') {
				parent[item] = options[item];
			} else {
				parseOptions(parent[item], options[item]);
			}
		}
	}

	// Push options
	function pushOptions(parent, options) {
		for (var item in options) {
			if (Array.isArray(options[item])) {
				options[item].forEach(function(data) {
					parent[item].push(data);
				});
			} else {
				pushOptions(parent[item], options[item]);
			}
		}
	}

	// Pop options
	function popOptions(parent, options) {
		for (var item in options) {
			if (Array.isArray(options[item])) {
				options[item].forEach(function(data) {
					parent[item].pop();
				});
			} else {
				popOptions(parent[item], options[item]);
			}
		}
	}

	// Toggle options
	function toggleOptions(elem) {
		var options = elem.data('add');
		var $target = $(elem.data('target'));
		var $chart = $target.data('chart');

		if (elem.is(':checked')) {

			// Add options
			pushOptions($chart, options);

			// Update chart
			$chart.update();
		} else {

			// Remove options
			popOptions($chart, options);

			// Update chart
			$chart.update();
		}
	}

	// Update options
	function updateOptions(elem) {
		var options = elem.data('update');
		var $target = $(elem.data('target'));
		var $chart = $target.data('chart');

		// Parse options
		parseOptions($chart, options);

		// Toggle ticks
		toggleTicks(elem, $chart);

		// Update chart
		$chart.update();
	}

	// Toggle ticks
	function toggleTicks(elem, $chart) {

		if (elem.data('prefix') !== undefined || elem.data('prefix') !== undefined) {
			var prefix = elem.data('prefix') ? elem.data('prefix') : '';
			var suffix = elem.data('suffix') ? elem.data('suffix') : '';

			// Update ticks
			$chart.options.scales.yAxes[0].ticks.callback = function(value) {
				if (!(value % 10)) {
					return prefix + value + suffix;
				}
			}

			// Update tooltips
			$chart.options.tooltips.callbacks.label = function(item, data) {
				var label = data.datasets[item.datasetIndex].label || '';
				var yLabel = item.yLabel;
				var content = '';

				if (data.datasets.length > 1) {
					content += '<span class="popover-body-label mr-auto">' + label + '</span>';
				}

				content += '<span class="popover-body-value">' + prefix + yLabel + suffix + '</span>';
				return content;
			}

		}
	}


	// Events

	// Parse global options
	if (window.Chart) {
		parseOptions(Chart, chartOptions());
	}

	// Toggle options
	$toggle.on({
		'change': function() {
			var $this = $(this);

			if ($this.is('[data-add]')) {
				toggleOptions($this);
			}
		},
		'click': function() {
			var $this = $(this);

			if ($this.is('[data-update]')) {
				updateOptions($this);
			}
		}
	});


	// Return

	return {
		colors: colors,
		fonts: fonts,
		mode: mode
	};

})();


  // Variables
    let times = {{ times|safe }};
        //
        // 3 9 3 2 new Date(3)
    let results = {{ sensor_results|safe }};
    {#let numbers = numbersss.map(function(result) {return new Date(result);});#}
   // let chartData = results.map((result,index)=> (result));

    const $chart = $('#chart-sensor-dark');

  function init($chart) {
        const chart = new Chart($chart, {
            type: 'line',
            data:  {
                labels: times,
                datasets: [{
                  label: 'Humidity',
                  data: results
                }]
            },
            options: {
    scales: {
        yAxes: [{

            ticks: {
                  callback:(value)=>value,
                max: Math.max(...results),
                min: Math.min(...results),
                stepSize: 1
            }
        }]
    }
}
        });

    // Save to jQuery object

    {#$chart.data('chart', chart);#}

  };


  // Events

  if ($chart.length) {
      init($chart);
  };
    </script>

    <script>
    var BarsChart = (function() {

	    let times = {{ time|safe }};
        console.log(time);

        let result = {{ water_tank_results|safe }};

	const $chart = $('#chart-bar');


	//
	// Methods
	//

	// Init chart
  function init($chart) {
        const chart = new Chart($chart, {
            type: 'bar',
            data:  {
                labels: times,
                datasets: [{
                  label: 'Humidity',
                  data: result
                }]
            },
            options: {
    scales: {
        yAxes: [{

            ticks: {
                  callback:(value)=>value,
                max: Math.max(...wresult),
                min: Math.min(...wresult),
                stepSize: 1
            }
        }]
    }
}
        });

    // Save to jQuery object

    $chart.data('chart', chart);

  };


  // Events

  if ($chart.length) {
      init($chart);
  };
    </script>
{% endblock javascripts %}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
assijo/index.html at main · fardthakh-admin/assijo