
{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <link rel="stylesheet" href="static/assets/js/leaflet/leaflet.css" />
    <link rel="stylesheet" href="static/assets/css/leaflet-owm.css" />
    <link rel="stylesheet" href="static/assets/css/iconLayers.css" />
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
.main-content{
    overflow-x: hidden;
}
    .leaflet-control-layers label {
    display: table-cell;
}
    g[class^='raphael-group'][class$='-creditgroup'] {
         display:none !important;
    }
    g[class$='creditgroup'] {
         display:none !important;
    }
    #map {
    width: 1180px;
    height: 433px;
    {#inset: 50% auto auto 50%;#}
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    {#z-index: 100;#}
    /* position: fixed; */
    margin: auto;
    overflow: visible;
    z-index: 1;
    text-align: center;
        }
    #viewDiv{
        height: 350px;
        {#font-size: 20px;#}
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #2c2c2cfb;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }

    </style>
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">

              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">

              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6" >
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body" >
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" style="color: red">temperature</h5>

              <span class="h2 font-weight-bold mb-0">
                    {{  weather.weather_station.last.temperature }}

        </span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-danger text-white rounded-circle shadow">
                        <i class="fa fa-thermometer-three-quarters"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>



          <div class="col-xl-3 col-md-6" >
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body" >
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" style="color: red">valve</h5>

        <span class="h2 font-weight-bold mb-0">
                    {{  valve.state }}

        </span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                        <i class="fa-solid fa-faucet"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">

                    <span class="text-nowrap"> Valve state</span>
                  </p>
                </div>
              </div>
            </div>




          <div class="col-xl-3 col-md-6" >
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body " >

                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" style="color: red">water level</h5>

        <span class="h2 font-weight-bold mb-0" >

            {{  waterlevel.swatertank.last.string_result }}

        </span>

                    </div>
                    <div class="col-auto">
                      <div class="fa-solid fa-droplet icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">

                    <span class="text-nowrap"> last day</span>
                  </p>
                </div>
              </div>
            </div>



          <div class="col-xl-3 col-md-6" >
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body" >
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" style="color: red">water pump</h5>

        <span class="h2 font-weight-bold mb-0">
                    {{  waterpump.state }}

        </span>

                    </div>
                    <div class="col-auto">
                      <div class=" icon-shape bg-gradient-info text-white rounded-circle shadow">
                          <i class="fa-solid fa-gauge"></i>

                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">

                    <span class="text-nowrap">Water pump state</span>
                  </p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>



    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                  <h5 class="h3 text-white mb-0">Humidity in soil </h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sensor-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sensor-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sensor-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h5 class="h3 mb-0">Water level </h5>
                </div>
              </div>
            </div>
            <div class="card-body">
                <div id="chart-container" style="padding-left: inherit;"></div>
{#              <!-- Chart -->#}
{#              <div class="chart">#}
{#                <canvas id="chart-bar" class="chart-canvas"></canvas>#}
{#              </div>#}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Farm Map</h3>
                </div>

              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
               <div id="viewDiv">
               </div>
               <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
            </div>
          </div>
        </div>
      <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Weather Map</h3>
                </div>

              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
                <div id="map"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Sensors</h3>
                </div>

              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Type</th>
                      <th class="sortable">category</th>
                    <th scope="col">Number Result</th>
                    <th scope="col">string result</th>
                      <th class="sortable">Location</th>

                  </tr>
                </thead>
                <tbody>
                 {% for item in sensors %}
                  <tr>

                    <th scope="row">
                        {{item.id}}
                    </th>
                    <td>
                        {{ item.type}}
                    </td>
                      <td>
                        {{ item.category}}
                    </td>
                    <td>
                     {% if not item.number_results.all.count %}   -   {% endif %}
                     {% for item in item.number_results.all %}
                          {{ item.number }}
                     {% endfor %}
                    </td>
                    <td>
                     {% if not item.STRINGRESULT.all.count %}   -   {% endif %}
                        {% for item in item.STRINGRESULT.all %}
                             {{ item.string_result }}
                        {% endfor %}
                    </td>
                     <td>
                       {{ item.location }}
                    </td>
                      {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0"> Trees </h3>
                </div>
                <div >

                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Type</th>
                    <th scope="col">state</th>
                    <th scope="col">time</th>
                      <th scope="col">WATER SHARE</th>
                      <th class="sortable">Location</th>
                  </tr>
                </thead>
                <tbody>
                 {% for item in trees %}
                  <tr>

                    <th scope="row">
                        {{item.id}}
                    </th>
                    <td>
                        {{ item.type}}
                    </td>
                     <td>
                     {{ item.time}}
                     </td>

                    <td>


                          {{ item.state }}

                    </td>
                    <td >
                     {% if not item.item.water_share.all %}   -   {% endif %}
                        {% for item in item.item.water_share.all %}
                             {{ item.number }}
                        {% endfor %}
                    </td>
                     <td>
                       {{ item.location }}
                    </td>
                      {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>

{#        <div class="col-xl-4">#}
{##}
{#          <div class="card">#}
{##}
{#            <div class="card-header border-0">#}
{#              <div class="row align-items-center">#}
{#                <div class="col">#}
{#                  <h3 class="mb-0">Social traffic</h3>#}
{#                </div>#}
{#                <div class="col text-right">#}
{#                  <a href="#!" class="btn btn-sm btn-primary">See all</a>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="table-responsive">#}
{#              <!-- Projects table -->#}
{#              <table class="table align-items-center table-flush">#}
{#                <thead class="thead-light">#}
{#                  <tr>#}
{#                    <th scope="col">Referral</th>#}
{#                    <th scope="col">Visitors</th>#}
{#                    <th scope="col"></th>#}
{#                  </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Facebook#}
{#                    </th>#}
{#                    <td>#}
{#                      1,480#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">60%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Facebook#}
{#                    </th>#}
{#                    <td>#}
{#                      5,480#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">70%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Google#}
{#                    </th>#}
{#                    <td>#}
{#                      4,807#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">80%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      Instagram#}
{#                    </th>#}
{#                    <td>#}
{#                      3,678#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">75%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                    <th scope="row">#}
{#                      twitter#}
{#                    </th>#}
{#                    <td>#}
{#                      2,645#}
{#                    </td>#}
{#                    <td>#}
{#                      <div class="d-flex align-items-center">#}
{#                        <span class="mr-2">30%</span>#}
{#                        <div>#}
{#                          <div class="progress">#}
{#                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </td>#}
{#                  </tr>#}
{#                </tbody>#}
{#              </table>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}



    </div>

{% endblock content %}
e
<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="/static/assets/js/echart.min.js"></script>
  <script src="/static/assets/js/echarts-liquid.min.js"></script>
<script>
var chart = echarts.init(document.getElementById("water-level-card"));
 var options ={
                series: [{
                    type: 'liquidFill',
                    data: [0.6],
                    radius: '70%',
                    outline: {
                        show: false
                    },}]}
                chart.setOption(options);
</script>
    <script>
    var Charts = (function() {

	// Variable

	var $toggle = $('[data-toggle="chart"]');
	var mode = 'light';//(themeMode) ? themeMode : 'light';
	var fonts = {
		base: 'Open Sans'
	}

	// Colors
	var colors = {
		gray: {
			100: '#f6f9fc',
			200: '#e9ecef',
			300: '#dee2e6',
			400: '#ced4da',
			500: '#adb5bd',
			600: '#8898aa',
			700: '#525f7f',
			800: '#32325d',
			900: '#212529'
		},
		theme: {
			'default': '#172b4d',
			'primary': '#5e72e4',
			'secondary': '#f4f5f7',
			'info': '#11cdef',
			'success': '#2dce89',
			'danger': '#f5365c',
			'warning': '#fb6340'
		},
		black: '#12263F',
		white: '#FFFFFF',
		transparent: 'transparent',
	};


	// Methods

	// Chart.js global options
	function chartOptions() {

		// Options
		var options = {
			defaults: {
				global: {
					responsive: true,
					maintainAspectRatio: false,
					defaultColor: (mode == 'dark') ? colors.gray[700] : colors.gray[600],
					defaultFontColor: (mode == 'dark') ? colors.gray[700] : colors.gray[600],
					defaultFontFamily: fonts.base,
					defaultFontSize: 13,
					layout: {
						padding: 0
					},
					legend: {
						display: false,
						position: 'bottom',
						labels: {
							usePointStyle: true,
							padding: 16
						}
					},
					elements: {
						point: {
							radius: 0,
							backgroundColor: colors.theme['primary']
						},
						line: {
							tension: .4,
							borderWidth: 4,
							borderColor: colors.theme['primary'],
							backgroundColor: colors.transparent,
							borderCapStyle: 'rounded'
						},
						rectangle: {
							backgroundColor: colors.theme['warning']
						},
						arc: {
							backgroundColor: colors.theme['primary'],
							borderColor: (mode == 'dark') ? colors.gray[800] : colors.white,
							borderWidth: 4
						}
					},
					tooltips: {
						enabled: true,
						mode: 'index',
						intersect: false,
					}
				},
				doughnut: {
					cutoutPercentage: 83,
					legendCallback: function(chart) {
						var data = chart.data;
						var content = '';

						data.labels.forEach(function(label, index) {
							var bgColor = data.datasets[0].backgroundColor[index];

							content += '<span class="chart-legend-item">';
							content += '<i class="chart-legend-indicator" style="background-color: ' + bgColor + '"></i>';
							content += label;
							content += '</span>';
						});

						return content;
					}
				}
			}
		}

		// yAxes
		Chart.scaleService.updateScaleDefaults('linear', {
			gridLines: {
				borderDash: [2],
				borderDashOffset: [2],
				color: (mode == 'dark') ? colors.gray[900] : colors.gray[300],
				drawBorder: false,
				drawTicks: false,
				drawOnChartArea: true,
				zeroLineWidth: 0,
				zeroLineColor: 'rgba(0,0,0,0)',
				zeroLineBorderDash: [2],
				zeroLineBorderDashOffset: [2]
			},
			ticks: {
				beginAtZero: true,
				padding: 10,
				callback: function(value) {
					if (!(value % 10)) {
						return value
					}
				}
			}
		});

		// xAxes
		Chart.scaleService.updateScaleDefaults('category', {
			gridLines: {
				drawBorder: false,
				drawOnChartArea: false,
				drawTicks: false
			},
			ticks: {
				padding: 20
			},
			maxBarThickness: 10
		});

		return options;

	}

	// Parse global options
	function parseOptions(parent, options) {
		for (var item in options) {
			if (typeof options[item] !== 'object') {
				parent[item] = options[item];
			} else {
				parseOptions(parent[item], options[item]);
			}
		}
	}

	// Push options
	function pushOptions(parent, options) {
		for (var item in options) {
			if (Array.isArray(options[item])) {
				options[item].forEach(function(data) {
					parent[item].push(data);
				});
			} else {
				pushOptions(parent[item], options[item]);
			}
		}
	}

	// Pop options
	function popOptions(parent, options) {
		for (var item in options) {
			if (Array.isArray(options[item])) {
				options[item].forEach(function(data) {
					parent[item].pop();
				});
			} else {
				popOptions(parent[item], options[item]);
			}
		}
	}

	// Toggle options
	function toggleOptions(elem) {
		var options = elem.data('add');
		var $target = $(elem.data('target'));
		var $chart = $target.data('chart');

		if (elem.is(':checked')) {

			// Add options
			pushOptions($chart, options);

			// Update chart
			$chart.update();
		} else {

			// Remove options
			popOptions($chart, options);

			// Update chart
			$chart.update();
		}
	}

	// Update options
	function updateOptions(elem) {
		var options = elem.data('update');
		var $target = $(elem.data('target'));
		var $chart = $target.data('chart');

		// Parse options
		parseOptions($chart, options);

		// Toggle ticks
		toggleTicks(elem, $chart);

		// Update chart
		$chart.update();
	}

	// Toggle ticks
	function toggleTicks(elem, $chart) {

		if (elem.data('prefix') !== undefined || elem.data('prefix') !== undefined) {
			var prefix = elem.data('prefix') ? elem.data('prefix') : '';
			var suffix = elem.data('suffix') ? elem.data('suffix') : '';

			// Update ticks
			$chart.options.scales.yAxes[0].ticks.callback = function(value) {
				if (!(value % 10)) {
					return prefix + value + suffix;
				}
			}

			// Update tooltips
			$chart.options.tooltips.callbacks.label = function(item, data) {
				var label = data.datasets[item.datasetIndex].label || '';
				var yLabel = item.yLabel;
				var content = '';

				if (data.datasets.length > 1) {
					content += '<span class="popover-body-label mr-auto">' + label + '</span>';
				}

				content += '<span class="popover-body-value">' + prefix + yLabel + suffix + '</span>';
				return content;
			}

		}
	}


	// Events

	// Parse global options
	if (window.Chart) {
		parseOptions(Chart, chartOptions());
	}

	// Toggle options
	$toggle.on({
		'change': function() {
			var $this = $(this);

			if ($this.is('[data-add]')) {
				toggleOptions($this);
			}
		},
		'click': function() {
			var $this = $(this);

			if ($this.is('[data-update]')) {
				updateOptions($this);
			}
		}
	});


	// Return

	return {
		colors: colors,
		fonts: fonts,
		mode: mode
	};

})();


  // Variables
    let times = {{ times|safe }};
        //
        // 3 9 3 2 new Date(3)
    let results = {{ sensor_results|safe }};
    {#let numbers = numbersss.map(function(result) {return new Date(result);});#}
   // let chartData = results.map((result,index)=> (result));

    const $chart = $('#chart-sensor-dark');

  function init($chart) {
        const chart = new Chart($chart, {
            type: 'line',
            data:  {
                labels: times,
                datasets: [{
                  label: 'Humidity',
                  data: results
                }]
            },
            options: {
    scales: {
        yAxes: [{

            ticks: {
                  callback:(value)=>value,
                max: Math.max(...results),
                min: Math.min(...results),
                stepSize: 1
            }
        }]
    }
}
        });

    // Save to jQuery object

    {#$chart.data('chart', chart);#}

  };


  // Events

  if ($chart.length) {
      init($chart);
  };
    </script>
<script>
FusionCharts.ready(function() {
  var waterLevel = 500;
  var fuelWidget = new FusionCharts({
    type: 'cylinder',
    dataFormat: 'json',
    id: 'fuelMeter',
    renderAt: 'chart-container',
    width: '320',
    height: '350',
    dataSource: {
      "chart": {
        "theme": "fusion",
        "cylFillColor": "#0099fd",
        "cylFillHoverColor": "#0099fd",
        "cylFillHoverAlpha": "85",
        "majorTMColor": "#0099fd",
        "caption": "Water Level in the Tank",
        "subcaption": "Full Tank = 1000 ltrs",
        "lowerLimit": "0",
        "upperLimit": "1000",
        "lowerLimitDisplay": "Empty",
        "upperLimitDisplay": "Full",
        "numberSuffix": " ltrs",
        "showValue": "0",
        "chartBottomMargin": "55"
      },
      "value": waterLevel,
      "annotations": {
        "origw": "400",
        "origh": "190",
        "autoscale": "1",
        "groups": [{
          "id": "range",
          "items": [{
            "id": "rangeBg",
            "type": "rectangle",
            "x": "$canvasCenterX-100",
            "y": "$chartEndY-40",
            "tox": "$canvasCenterX +145",
            "toy": "$chartEndY-65",
            "fillcolor": "#6caa03"
          },
          {
            "id": "rangeText",
            "type": "Text",
            "fontSize": "14",
            "fillcolor": "#333333",
            "text": "Available Volume = " + waterLevel,
            "x": "$chartCenterX-15",
            "y": "$chartEndY-50"
          }]
        }]
      }
    }
  }).render();

  // Update the chart with the initial waterLevel value
  fuelWidget.feedData("&value=" + waterLevel);
});
</script>
{#    <script>#}
{#    FusionCharts.ready(function() {#}
{#     var waterLevel = 500;#}
{#    var fuelVolume = 1000,#}
{#        fuelWidget = new FusionCharts({#}
{#          type: 'cylinder',#}
{#          dataFormat: 'json',#}
{#          id: 'fuelMeter',#}
{#          renderAt: 'chart-container',#}
{#          width: '320',#}
{#          height: '350',#}
{#          dataSource: {#}
{#            "chart": {#}
{#              "theme": "fusion",#}
{#              "cylFillColor": "#0099fd",#}
{#              "cylFillHoverColor": "#0099fd",#}
{#                "cylFillHoverAlpha": "85",#}
{#                "majorTMColor": "#0099fd",#}
{#              "caption": "Water Level in the Tank",#}
{#              "subcaption": "Full Tank = 1000 ltrs",#}
{#              "lowerLimit": "0",#}
{#              "upperLimit": "1000",#}
{#              "lowerLimitDisplay": "Empty",#}
{#              "upperLimitDisplay": "Full",#}
{#              "numberSuffix": " ltrs",#}
{#              "showValue": "0",#}
{#              "chartBottomMargin": "55"#}
{#            },#}
{#            "value": waterLevel,#}
{#            "annotations": {#}
{#              "origw": "400",#}
{#              "origh": "190",#}
{#              "autoscale": "1",#}
{#              "groups": [{#}
{#                "id": "range",#}
{#                "items": [{#}
{#                    "id": "rangeBg",#}
{#                    "type": "rectangle",#}
{#                    "x": "$canvasCenterX-100",#}
{#                    "y": "$chartEndY-40",#}
{#                    "tox": "$canvasCenterX +145",#}
{#                    "toy": "$chartEndY-65",#}
{#                    "fillcolor": "#6caa03"#}
{#                  },#}
{#                  {#}
{#                    "id": "rangeText",#}
{#                    "type": "Text",#}
{#                    "fontSize": "14",#}
{#                    "fillcolor": "#333333",#}
{#                    "text": "Available Volume = " + waterLevel,#}
{#                    "x": "$chartCenterX-15",#}
{#                    "y": "$chartEndY-50"#}
{#                  }#}
{#                ]#}
{#              }]#}
{#            }#}
{##}
{#          },#}
{#          "events": {#}
{##}
{#            "rendered": function(evtObj, argObj) {#}
{#              setInterval(function() {#}
{#                (fuelVolume < 100) ? (fuelVolume = 800) : "";#}
{#                var consVolume = fuelVolume - (Math.floor(Math.random() * 3));#}
{#                FusionCharts("fuelMeter").feedData("&value=" + consVolume);#}
{#                fuelVolume = consVolume;#}
{#              }, 1000);#}
{#            },#}
{#            //Using real time update event to update the annotation#}
{#            //showing available volume of Diesel#}
{#            "realTimeUpdateComplete": function(evt, arg) {#}
{#              var annotations = evt.sender.annotations,#}
{#                dataVal = evt.sender.getData(),#}
{#                colorVal = (dataVal >= 700) ? "#6caa03" : ((dataVal <= 350) ? "#e44b02" : "#f8bd1b");#}
{#              //Updating value#}
{#              annotations && annotations.update('rangeText', {#}
{#                "text": "Available Volume = "+ dataVal + " ltrs"#}
{#              });#}
{#              //Changing background color as per value#}
{#              annotations && annotations.update('rangeBg', {#}
{#                "fillcolor": colorVal#}
{#              });#}
{##}
{#            }#}
{#          }#}
{#        }).render();#}
{#    });#}
{#    </script>#}
<script>
   $(document).ready(function(){
    var data = [];


    $.ajax({
        url: "{% url 'mydata_sensor'%}",
        method: 'GET',
        success: function (data_sensor) {
            data_sensor.forEach(function(item) {
                item.group = "sensor"; // Add group property to each item
            });
            data = data.concat(data_sensor);
        }
    });

    $.ajax({
        url: "{% url 'mydata_waterpump'%}",
        method: 'GET',
        success: function (data_waterpump) {
            data_waterpump.forEach(function(item) {
                item.group = "waterpump"; // Add group property to each item
            });
            data = data.concat(data_waterpump);
        }
    });

    $.ajax({
        url: "{% url 'mydata_watertank'%}",
        method: 'GET',
        success: function (data_watertank) {
            data_watertank.forEach(function(item) {
                item.group = "watertank"; // Add group property to each item
            });
            data = data.concat(data_watertank);
        }
    });

    $.ajax({
        url: "{% url 'mydata_Trees'%}",
        method: 'GET',
        success: function (data_tree) {
            data_tree.forEach(function(item) {
                item.group = "tree"; // Add group property to each item
            });
            data = data.concat(data_tree);
        }
    });

    $.ajax({
        url: "{% url 'mydata_valve'%}",
        method: 'GET',
        success: function (data_valve) {
            data_valve.forEach(function(item) {
                item.group = "valve"; // Add group property to each item
            });
            data = data.concat(data_valve);
            initMap(data);
        }
    });
});

    function initMap(data) {
        map = new OpenLayers.Map("viewDiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        var markersArray = data;
        console.log("markersArray")
        console.log(markersArray)
        for (var i = 0; i < markersArray.length; i++) {
            var lonLat = new OpenLayers.LonLat(markersArray[i].longitude, markersArray[i].latitude)
                .transform(
                    new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                    map.getProjectionObject() // to Spherical Mercator Projection
                );
            if (markersArray[i].group == "sensor") {
                var icon = new OpenLayers.Icon("static/assets/img/icons/sensor-icon.png", new OpenLayers.Size(32, 32));
                markers.addMarker(new OpenLayers.Marker(lonLat, icon));
            } else if (markersArray[i].group == "valve") {
                    var icon = new OpenLayers.Icon("static/assets/img/icons/valve.png", new OpenLayers.Size(32, 32));
                    markers.addMarker(new OpenLayers.Marker(lonLat, icon));
            } else if (markersArray[i].group == "waterpump") {
                    var icon = new OpenLayers.Icon("static/assets/img/icons/water_pump.png", new OpenLayers.Size(50, 32));
                    markers.addMarker(new OpenLayers.Marker(lonLat, icon));
            } else if (markersArray[i].group == "watertank") {
                    var icon = new OpenLayers.Icon("static/assets/img/icons/water_tank.png", new OpenLayers.Size(32, 32));
                    markers.addMarker(new OpenLayers.Marker(lonLat, icon));
            } else if (markersArray[i].group == "tree") {
                    var icon = new OpenLayers.Icon("static/assets/img/icons/tree.png", new OpenLayers.Size(32, 32));
                    markers.addMarker(new OpenLayers.Marker(lonLat, icon));
            }

        }
        var lonLatcenter = new OpenLayers.LonLat(36.2384, 30.5852)
            .transform(
                new OpenLayers.Projection("EPSG:4326"),
                map.getProjectionObject()
            );
        var zoom = 7;
        map.setCenter(lonLatcenter, zoom);
    }
    </script>
{#<script>#}
{#    $(document).ready(function(){#}
{#    var data = [];#}
{##}
{#    $.ajax({#}
{#        url: "{% url 'mydata_sensor'%}",#}
{#        method: 'GET',#}
{#        success: function (data_sensor) {#}
{#            for (var i = 0; i < data_sensor.length; i++) {#}
{#            data_sensor[i].group = "sensors";#}
{#        }#}
{#        data = data.concat(data_sensor);#}
{#        }#}
{#    });#}
{##}
{#    $.ajax({#}
{#        url: "{% url 'mydata_waterpump'%}",#}
{#        method: 'GET',#}
{#        success: function (data_waterpump) {#}
{#            for (var i = 0; i < data_waterpump.length; i++) {#}
{#            data_waterpump[i].group = "waterpump";#}
{#        }#}
{#        data = data.concat(data_waterpump);#}
{#        }#}
{#    });#}
{##}
{#    $.ajax({#}
{#        url: "{% url 'mydata_watertank'%}",#}
{#        method: 'GET',#}
{#        success: function (data_watertank) {#}
{#                for (var i = 0; i < data_watertank.length; i++) {#}
{#            data_watertank[i].group = "watertank";#}
{#        }#}
{#            data = data.concat(data_watertank);#}
{#        }#}
{#    });#}
{##}
{#    $.ajax({#}
{#        url: "{% url 'mydata_Trees'%}",#}
{#        method: 'GET',#}
{#        success: function (data_tree) {#}
{#                    for (var i = 0; i < data_tree.length; i++) {#}
{#            data_tree[i].group = "tree";#}
{#        }#}
{#            data = data.concat(data_tree);#}
{#        }#}
{#    });#}
{##}
{#    $.ajax({#}
{#        url: "{% url 'mydata_valve'%}",#}
{#        method: 'GET',#}
{#        success: function (data_valve) {#}
{#            for (var i = 0; i < data_valve.length; i++) {#}
{#            data_valve[i].group = "valve";#}
{#        }#}
{#            data = data.concat(data_valve);#}
{#            console.log(data);#}
{#            initMap(data);#}
{#        }#}
{#    });#}
{#});#}
{#    function initMap(data) {#}
{#    // define icons for each group#}
{#    var icons = {#}
{#        "sensors": new OpenLayers.Icon("static/assets/img/icons/sensor-icon.png", new OpenLayers.Size(32, 32)),#}
{#        "waterpump": new OpenLayers.Icon("static/assets/img/icons/water_pump.png", new OpenLayers.Size(50, 32)),#}
{#        "watertank": new OpenLayers.Icon("static/assets/img/icons/water_tank.png", new OpenLayers.Size(32, 32)),#}
{#        "tree": new OpenLayers.Icon("static/assets/img/icons/tree.png", new OpenLayers.Size(32, 32)),#}
{#        "valve": new OpenLayers.Icon("static/assets/img/icons/valve.png", new OpenLayers.Size(32, 32)),#}
{#    };#}
{##}
{#    // create map and add OSM layer#}
{#    map = new OpenLayers.Map("viewDiv");#}
{#    map.addLayer(new OpenLayers.Layer.OSM());#}
{##}
{#    // create a separate layer for each group of markers and add them to the map#}
{#    var layers = {};#}
{##}
{#    for (var group in icons) {#}
{#        layers[group] = new OpenLayers.Layer.Markers(group);#}
{#        console.log(layers[group])#}
{#        map.addLayer(layers[group]);#}
{#    }#}
{##}
{#    // iterate through the data array and add markers with the appropriate icon for each group#}
{#    var markersArray = data;#}
{#    for (var i = 0; i < markersArray.length; i++) {#}
{#        var lonLat = new OpenLayers.LonLat(markersArray[i].longitude, markersArray[i].latitude)#}
{#            .transform(#}
{#                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984#}
{#                map.getProjectionObject() // to Spherical Mercator Projection#}
{#            );#}
{#        var icon = icons[markersArray[i].group];#}
{#        var layer = layers[markersArray[i].group];#}
{#        layer.addMarker(new OpenLayers.Marker(lonLat, icon));#}
{#    }#}
{##}
{#    // set center and zoom level#}
{#    var lonLatcenter = new OpenLayers.LonLat(36.2384, 30.5852)#}
{#        .transform(#}
{#            new OpenLayers.Projection("EPSG:4326"),#}
{#            map.getProjectionObject()#}
{#        );#}
{#    var zoom = 7;#}
{#    map.setCenter(lonLatcenter, zoom);#}
{#}#}
{#    </script>#}
    <script>



	    let time = {{ time|safe }};
        console.log(time);// which listtt ?go to view

        let result = {{ water_tank_results|safe }};
        console.log(result);

	const $barchart = $('#chart-bar');


	//
	// Methods
	//

	// Init chart
  function init($barchart) {
        const chart = new Chart($barchart, {
            type: 'bar',
            data:  {
                labels: time,
                datasets: [{
                  label: 'level',
                  data: result
                }]
            },
            options: {
    scales: {
        yAxes: [{

            ticks: {
                  callback:(value)=>value,
                max: Math.max(...result),
                min: Math.min(0),
                stepSize: 1
            }
        }]
    }
}



        });

    // Save to jQuery object

    $barchart.data('chart', chart);

  };


  // Events

  if ($barchart.length) {
      init($barchart);
  };
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script type="text/javascript" src="static/assets/js/leaflet/leaflet-src.js"></script>
    <script type="text/javascript" src="static/assets/js/leaflet-owm.js"></script>
    <script type="text/javascript" src="static/assets/js/iconLayer.js"></script>
    <script>
        var providers = {};

        providers['OSM'] = {
            title: 'OSM',
            icon: 'static/assets/img/layers-osm.png',
            layer: L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            })
        };

    </script>
    <script>
        var map = L.map('map').setView([30.5852 , 36.2384], 5);


        //http://tile.openweathermap.org/map/temp_new/{z}/{x}/{y}.png?appid=d9cfe451d5a775abaf178aec4951b4b0

        var Temp = L.tileLayer('http://tile.openweathermap.org/map/temp_new/{z}/{x}/{y}.png?appid=d22d9a6a3ff2aa523d5917bbccc89211', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://owm.io">VANE</a>',
            id: 'temp'
        }),

        Precipitation = L.tileLayer('http://tile.openweathermap.org/map/precipitation_new/{z}/{x}/{y}.png?appid=d22d9a6a3ff2aa523d5917bbccc89211', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://owm.io">VANE</a>'
        }),

        Wind = L.tileLayer('http://tile.openweathermap.org/map/wind_new/{z}/{x}/{y}.png?appid=d22d9a6a3ff2aa523d5917bbccc89211', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://owm.io">VANE</a>'
        }),

        Pressure = L.tileLayer('http://tile.openweathermap.org/map/pressure_new/{z}/{x}/{y}.png?appid=d22d9a6a3ff2aa523d5917bbccc89211', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://owm.io">VANE</a>'
        }),


        Clouds = L.tileLayer('http://tile.openweathermap.org/map/clouds_new/{z}/{x}/{y}.png?appid=d22d9a6a3ff2aa523d5917bbccc89211', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://owm.io">VANE</a>'
        });

        var owm = new L.OWMLayer({key: 'b1b15e88fa797225412429c1c50c122a1'});
        map.addLayer(owm);

        Temp.addTo(map);

        var overlays = {"Temperature": Temp, "Precipitation": Precipitation, "Clouds": Clouds, "Pressure": Pressure, "Wind": Wind};
        L.control.layers(overlays, null, {collapsed:false}).addTo(map);

        var layers = [];
            for (var providerId in providers) {
                layers.push(providers[providerId]);
            }

        L.control.iconLayers(layers).addTo(map);
    </script>

{% endblock javascripts %}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
assijo/index.html at main · fardthakh-admin/assijo