{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% load static %}
{% block content %}
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://js.arcgis.com/4.9/esri/css/main.css"/>
    <script src="https://js.arcgis.com/4.9/"></script>
    <style>
.main-content{
    overflow-x: hidden;
}

    #map {
            width: 100%;
            height: 500px;
            border-radius: 10px;
        }
    #viewDiv{
        height: 350px;
        /* {#font-size: 20px;#} */
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #2c2c2cfb;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
    </style>

    <!-- Header -->
   <div id="viewDiv">
    Valve Map
    </div>
    <script src="https://www.openlayers.org/api/OpenLayers.js"></script>
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
        <div style="align-items: center">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div >
      <div class="e-navlist e-navlist--active-bg">

      </div>
    </div>
  </div>

  <div class="col">
    <div class="e-tabs  px-3">
          <div class="card" style="position:relative; left:-155px">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Valves</h3>
                </div>
                  <div>
                    {% if request.user.id == user.farm.owner %}
                    <button class="btn btn-sm btn-outline-secondary badge" type="button" style="border-radius: 50% ; font-size: 1.5rem ; float: right; ; background-color: #7765e3 ; height:36px; width: 36px;margin-top: 15px; ;color:white;" onclick="AddValve()" data-toggle="modal" data-target="#user-form-modal">+</button>
                    {% endif %}
                  </div>
            </div>

              <div class="table-responsive table-lg mt-3"  style="position:relative;: top:20px">
                <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                      <th>
                        id
                      </th>
                      <th>Type</th>
                      <th class="max-width">State</th>
                      <th class="sortable">Location</th>
                      <th class="sortable">Pulse</th>
                      <th class="sortable">Identifier</th>

                      <th class="sortable">Farm Name</th>
                      <th class="sortable">latitude</th>
                      <th class="sortable">longitude</th>

                      {% if request.user.id == user.farm.owner %}
                      <th>Actions</th>
                      {% endif %}
                    </tr>

                </thead>
                <tbody id="tableBody">
                   {% for valve in valves %}
                    <tr id="valve-{{ valve.id }}" data-location="{{ valve.location }}" data-state="{{ valve.state }}" data-type="{{valve.type}}"  data-latitude="{{valve.latitude}}" data-longitude="{{valve.longitude}}">
                      <td class="text-nowrap align-middle">{{ valve.id }}</td>
                      <td class="text-nowrap align-middle">{{ valve.type }}</td>
                      <td class="text-center align-middle"> {{ valve.state }}</td>
                    <td class="text-center align-middle">{{ valve.location }}</td>
                    <td class="text-center align-middle">{{ valve.pulse}}</td>
                    <td class="text-center align-middle">{{ valve.identifier}}</td>
                    <td class="text-center align-middle">{{ valve.farm }}</td>
                    <td class="text-center align-middle"> {{ valve.latitude }}</td>
                    <td class="text-center align-middle"> {{ valve.longitude }}</td>
                    {% if user.id == user.farm.owner %}
                      <td class="text-center align-middle">
                        <div class="btn-group align-top">
                            <button class="btn btn-sm btn-outline-secondary badge" type="button" onclick="EditValve('{{ valve.id }}')" data-toggle="modal" data-target="#user-form-modal">
                                Edit
                            </button>
                            <button class="btn btn-sm btn-outline-secondary badge" type="button" onclick="DeleteValve('{{ valve.id }}')">
                                <i class="fa-solid fa-trash-can-arrow-up" ></i>
                            </button>
                            {% if valve.state == "on" %}
                            <button id="{{ valve.id }}" class="btn btn-sm btn-outline-secondary badge" type="button" onclick="deactivateValve('{{ valve.id }}', this)">
                              <i class="fa-solid fa-toggle-on"></i>
                            </button>
                            {% else %}
                            <button id="{{ valve.id }}" class="btn btn-sm btn-outline-secondary badge" type="button" onclick="deactivateValve('{{ valve.id }}', this)">
                              <i class="fa-solid fa-toggle-off"></i>
                            </button>
                            {% endif %}
                          </div>
                        </td>
                        {% endif %}
                      {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
                  </tbody>
                </table>
              </div>

              <div class="btn-group">
                <button onclick="download_csv_file()"> Download CSV </button>  
              </div>
           <div style="margin-top: 15px;">

            </div>
          </div>
        </div>
      </div>
        </div>
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- User Form Modal -->
    <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Valve</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-1">
                <form class="form"  method="POST" action="{% url 'valve-operation' %}">
              {% csrf_token %}
              <input class="form-control" type="hidden" name="operation" id="operation" required>
              <input class="form-control" type="hidden" name="id" id="valve-form-id" >
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">

                        <div class="form-group">
                          <label>Location</label>
                          <input class="form-control" type="text" name="location" id="location"required >
                        </div>

                     </div>
                     <div class="col">

                        <div class="form-group">
                          <label>State</label>
                          <select class="form-control" type="text" name="state" id="state"required >
                              <option value="on">on</option>
                              <option value="off">off</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">

                        <div class="form-group">
                          <label>Pulse</label>
                          <input class="form-control" type="text" name="pulse" id="pulse"required >
                        </div>

                     </div>
                     <div class="col">

                      <div class="form-group">
                        <label>Identifier</label>
                        <input class="form-control" type="text" name="identifier" id="identifier"required >
                      </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col mb-3">
                        <div class="form-group">
                          <label>Type</label>
                          <input class="form-control" type="text" name="type" id="type" required>
                      </div>
                      </div>
                    </div>

                  </div>
                 </div>
 {#Long and lat and map#}
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>latitude</label>
                          <input class="form-control" type="text" name="latitude" id="latitude"required >
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>longitude</label>
                          <input class="form-control" type="text" name="longitude" id="longitude"required >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-3">
                        <div class="form-group">
                        <div class="wrap">
                        <div id="map" style="width: 100%; height: 500px;"></div>
                        </div>
                        </div>
                      </div>
                    </div>
                {#Long and lat and map#}
                    <button class="btn btn-primary" type="submit">Save</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

    <script>
        jQuery('#user-form-modal').on('shown.bs.modal', function () {
            initAddMap();
            {#  console.log("opened my modal")#}
        })
    </script>

    </div>      <!-- Card stats -->

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
 <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
 <script>
  function download_csv_file() {
    var table = document.getElementById("tableBody");
     // Create an empty array to store the table data
    var csvFileData = [];
   // Create an array of custom header names for each column
    var customHeaders = ["ID", "Type", "State", "Location","Pulse","Identifier","Farm Name","latitude","longitude",];
  
    // Push the custom header row to the CSV data
    csvFileData.push(customHeaders);
     // Iterate through the rows in the table
    for (var i =0 ; i < table.rows.length; i++) {
      var row = table.rows[i];
      var rowData = [];
      // Iterate through the cells in each row
      for (var j = 0; j < row.cells.length; j++) {
        rowData.push(row.cells[j].innerText);
      }
        // Add the row data to the CSV data array
      csvFileData.push(rowData);
    }
     // Create the CSV string
    var csv = csvFileData.map(function (row) {
      return row.join(",");
    }).join("\n");
      // Create a data URI for the CSV content
    var csvDataUri = "data:text/csv;charset=utf-8," + encodeURI(csv);
   // Create a hidden link element for downloading
    var hiddenElement = document.createElement("a");
    hiddenElement.href = csvDataUri;
    hiddenElement.target = "_blank";
    hiddenElement.download = "valves_data.csv";
    hiddenElement.click();
  }
  
  </script>

<script>
    {#let MymapOptions = {#}
    {#    center:[{{user.farm.latitude}}, {{user.farm.longitude}}],#}
    {#    zoom:10#}
    {#}#}
    {##}
    {#let Mymap = new L.map('map' , MymapOptions);#}
    {#Mymap.scrollWheelZoom.disable()#}
    {##}
    {#let Mylayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');#}
    {#Mymap.addLayer(Mylayer);#}
    {##}
    {##}
    {#let marker = null;#}
    {#Mymap.on('click', (event)=> {#}
    {##}
    {#    if(marker !== null){#}
    {#        Mymap.removeLayer(marker);#}
    {#    }#}
    {##}
    {#    marker = L.marker([event.latlng.lat , event.latlng.lng]).addTo(Mymap);#}
    {##}
    {#    document.getElementById('latitude').value = event.latlng.lat;#}
    {#    document.getElementById('longitude').value = event.latlng.lng;#}
    {##}
    {#})#}
</script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: "{% url 'mydata_valve'%}",
            method: 'GET',
            success: function (data) {
                console.log(data);
                initMap(data);
            }
      });
    });
    function initMap(data) {
        map = new OpenLayers.Map("viewDiv");

        var Navigation = new OpenLayers.Control.Navigation({
            'zoomWheelEnabled': false,
            'defaultDblClick': function ( event ) {
            return;
            }
        });

        map.addControl(Navigation);

        var NavigationControls = map.getControlsByClass('OpenLayers.Control.Navigation')
          , i;

        for ( i = 0; i < NavigationControls.length; i++ ) {
            NavigationControls[i].disableZoomWheel();
        }

        map.addLayer(new OpenLayers.Layer.OSM());

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        var markersArray = data;
        for (var i = 0; i < markersArray.length; i++) {
            var lonLat = new OpenLayers.LonLat(markersArray[i].longitude, markersArray[i].latitude)
                .transform(
                    new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                    map.getProjectionObject() // to Spherical Mercator Projection
                );
            var icon = new OpenLayers.Icon("{% static '/assets/img/icons/valve.png' %}", new OpenLayers.Size(32, 32));
            markers.addMarker(new OpenLayers.Marker(lonLat, icon));
        }
        var lonLatcenter = new OpenLayers.LonLat({{user.farm.longitude}}, {{user.farm.latitude}})
            .transform(
                new OpenLayers.Projection("EPSG:4326"),
                map.getProjectionObject()
            );
        var zoom = 10;
        map.setCenter(lonLatcenter, zoom);
    }


    function initAddMap(){
        let MymapOptions = {
            center:[{{user.farm.latitude}} , {{user.farm.longitude}}],
            zoom:10
        }

        let Mymap = new L.map('map' , MymapOptions);
        Mymap.scrollWheelZoom.disable()

        let Mylayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        Mymap.addLayer(Mylayer);


        let marker = null;
        Mymap.on('click', (event)=> {

            if(marker !== null){
                Mymap.removeLayer(marker);
            }

            marker = L.marker([event.latlng.lat , event.latlng.lng]).addTo(Mymap);

            document.getElementById('latitude').value = event.latlng.lat;
            document.getElementById('longitude').value = event.latlng.lng;

        })
    }
    </script>

    <script>
      
      
    function deactivateValve(id, e) {
        console.log(id)
        
        // Determine the current state of the valve
        let state = $(e).children()[0].classList.contains("fa-toggle-on"); // Check if it's 'on' or 'off'
        let valveID = id;

        // Prepare data to send in the request
        let formdata = new FormData();
        formdata.append("valve_ID", valveID); // Send valve ID
        formdata.append("payload", state ? "off" : "on"); // Toggle the state (on <=> off)

        let requestOptions = {
            method: 'POST',
            body: formdata,
            redirect: 'follow'
        };

        // Send the PUT request to change the valve state
        fetch("/api/set/valve/set-valve-state/", requestOptions)
            .then(response => response.json())  // Handle JSON response
            .then(result => {
                console.log(result);
                
                // Toggle the button icon class based on the response
                if (result.state === "on") {
                    $(e).children()[0].classList.replace("fa-toggle-off", "fa-toggle-on");
                } else {
                    $(e).children()[0].classList.replace("fa-toggle-on", "fa-toggle-off");
                }
            })
            .catch(error => console.log('error', error));
    }



function DeleteValve(id) {
    console.log(id)
    if (confirm('Are you sure you want to delete this item?')) {
        let formdata = new FormData();
        formdata.append("id", id);

        let requestOptions = {
            method: 'DELETE',
            body: formdata,
            redirect: 'follow'
        };

        fetch("/api/delete/valve/", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .then(result => location.reload())
            .catch(error => console.log('error', error));
    }
}
function EditValve(id){
    let location_input = document.getElementById('location')
    let type_input = document.getElementById('type')
    let state_input = document.getElementById('state')
    let valve_id_input = document.getElementById('valve-form-id')
    let operation = document.getElementById('operation')
    let latitude = document.getElementById('latitude')
    let longitude = document.getElementById('longitude')
    let valve = document.getElementById(`valve-${id}`)

    location_input.value = valve.dataset.location
    type_input.value = valve.dataset.type
    state_input.value = valve.dataset.state
    latitude.value = valve.dataset.latitude
    longitude.value = valve.dataset.longitude
    valve_id_input.value = id
    operation.value = 'edit'

}
function AddValve(){
    let location_input = document.getElementById('location')
    let type_input = document.getElementById('type')
    let state_input = document.getElementById('state')
    let latitude = document.getElementById('latitude')
    let longitude = document.getElementById('longitude')
    let operation = document.getElementById('operation')

    location_input.value = ''
    type_input.value = ''
    state_input.value = ''
    latitude.value = ''
    longitude.value = ''
    operation.value = 'add'

}
</script>

<script src="{% static 'assets/vendor/clipboard/dist/clipboard.min.js' %}"></script>

{% endblock javascripts %}